/*--- Animation ---*/

html, body {
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

body {
  background: #333;
  overflow: hidden;
}

.pt-perspective {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

.no-js body {
  overflow: auto;
}

.pt-page-ontop {
  z-index: 999;
}

.return {
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 1;
  top: 4%;
  left: 1%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.return-to-index {
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/arrow.svg) no-repeat center center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* --- Annimation --- */

.pt-page-scaleDown {
  -webkit-animation: scaleDown .6s ease both;
  animation: scaleDown .6s ease both;
}

.pt-page-scaleUp {
  -webkit-animation: scaleUp .6s ease both;
  animation: scaleUp .6s ease both;
}

.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown .6s ease both;
  animation: scaleUpDown .6s ease both;
}

.pt-page-scaleDownUp {
  -webkit-animation: scaleDownUp .6s ease both;
  animation: scaleDownUp .6s ease both;
}

.pt-page-delay300 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
  from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
  from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownUp {
  from { }
  to { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleDownUp {
  from { }
  to { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}
