/* --- Général --- */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Libre_Franklin/LibreFranklin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lobster/Lobster-Regular.ttf") format("truetype");
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: white;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

/* --- Pages --- */
.pt-page {
  background: #0f0f0f;
}

.pt-page-2, .pt-page-3, .pt-page-4 {
  overflow: auto;
}

/* Page 1 */
.pt-page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-page-1 > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}

#page1__photo {
  align-items: center;
  flex: 1.8;
}

#page1__photo img{
  width: 30vw;
  height: auto;
  overflow:hidden;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  transition: border 0.3s, box-sizing 0.3s ease-in-out;
}

#page1__photo img:hover {
  border: 4px solid #ffb600;
  box-sizing: content-box;
}

#page1__menu {
  align-items: center;
  flex: 2;
}

#page1__titre {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

#page1__titre h1 {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  margin: 0px;
  text-shadow: 3px 3px #424242;
}

#page1__titre h2 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  position: relative;
  top: -15px;
  left: 180px;
  color: #ffb600;
  text-shadow: 1.5px 1.5px white;
  margin: 0px;
}

#page1__lien {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#page1__lien a {
  position: relative;
  font-size: 3rem;
  margin-top: 2vh;
  transition: text-shadow 0.3s, color 0.3s, opacity 0.3s  ease-in-out;
}

#page1__lien a:hover {
  text-shadow: 1.5px 1.5px white;
  color: #ffb600;
}

.hover_lien_apropos {
  text-shadow: 1.5px 1.5px white;
  color: #ffb600;
}

#page1__lien a:first-of-type {
  margin-top: 7vh;
}

/* Page 2 */
.pt-page-2 img {
  width: 100%;
}

/* --- Footer --- */
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 8vh;
  background: rgba(20, 20, 20, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

footer a {
  margin: 5px 10px 5px 10px;
}

#footer-presentation {
  position: sticky;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin: 5px 10px 5px 10px;
}

